# Editor configuration, see http://editorconfig.org
root = true # 表明是最顶层的配置文件，发现设为true时，才会停止查找.editorconfig文件。

[*]
charset = utf-8 # 编码格式，支持latin1、utf-8、utf-8-bom、utf-16be和utf-16le，不建议使用uft-8-bom。
end_of_line = lf # 定义换行符，支持lf、cr和crlf。
insert_final_newline = true # 设为true表明使文件以一个空白行结尾，false反之。
trim_trailing_whitespace = true # 设为true表示会除去换行行首的任意空白字符，false反之。
indent_style = space
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false
